.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  width: 1100px;
  padding: 93px 50px 95px 50px;
  font-family: 'Raleway', sans-serif;
  color: #000;
  font-weight: 400;
  font-size: 18px;
}

.header__menu {
  display: flex;
  justify-content: flex-start;
  padding: 0; 
  margin: 0;
  column-gap: 33px;
  list-style-type: circle;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.menu-link {
  text-underline-offset: 3px;
}

.header__logo {
  display: block;
  width: 148px;
  height: 105px;
}

.address {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  margin: 0;
  padding: 0;
  max-width: 240px;
}

.header__address {
  display: flex;
  justify-self: end;
  align-items: flex-start;
  flex-direction: column;
}

.cover {
  width: 1100px;
  background-image: url(../images/cover.jpg); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
  min-height: 757px;
  position: relative;
  z-index: 0;
}

.overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 60%;
  position: absolute;
  z-index: 1;
}

.text__aligned {
  display: flex;
  width: 100%;
  position: relative;
  z-index: 2;
}

.left__text {
  display: block;
  text-align: left; 
}

.center__text {
  display: block;
  text-align: center;
  margin-top: 16px;
  margin-left: 0px;
}

.right__text {
  display: block;
  text-align: right;
  margin-top: 16px;
  margin-left: 615px;
}

.text__justify {
  display: block;
  text-align: justify;
  margin-top: 165px;
  margin-left: 50px;
  margin-right: 50px;
  font-family: 'Raleway', sans-serif;
  color: #fff;
  font-size: 100px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 30px;    
}

.description {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  margin-top: 108px;
  font-family: 'Raleway', sans-serif;
  color: #fff;
  text-transform: uppercase;
  font-size: 22px;
  position: relative;
  z-index: 2;
}

.text {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 19px;
  position: relative;
  z-index: 2; 
}

.button {
  width: 256px;
  height: 51px;
  font-weight: 500;
  background-color: transparent;
  color: #fff;
  border: 1px solid currentColor;
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  position: relative;
}

.main {
  width: 1100px;
}

.lots {
  width: 1052px;
  margin-top: 180px;
  margin-left: 24px;
}

.lots__heading {
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 27px;
  margin-left: 40px;
}

.card__list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
  background-size: cover;
  background-position: center;
}

.card { 
  display: flex; 
  flex-direction: column; 
  justify-content: space-between; 
  height: 100%; 
  width: 100%;
  padding: 48px 40px;  
  position: relative; 
  z-index: 2; 
}

.card-link {
  text-decoration: none;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);  
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg); 
}

.card__title { 
  flex-wrap: wrap; 
  font-family: 'Raleway', sans-serif; 
  color: #fff; 
  font-weight: 700; 
  font-size: 22px; 
  text-transform: uppercase; 
  text-decoration: underline; 
  text-align: left; 
  position: relative; 
  z-index: 2; 
  }

.card__text { 
  flex-wrap: wrap;  
  font-family: 'Raleway', sans-serif; 
  color: #fff; 
  font-weight: 400; 
  font-size: 20px; 
  position: relative;   
  z-index: 2; 
}

.lots__look-more-link {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 20px;
  margin-top: 30px;
  margin-left: 40px;
  text-underline-offset: 5px;
}

.about {
  width: 1052px;
  margin-top: 135px;
  margin-left: 25px;
}

.about__column {
  display: grid;
  grid-template-columns: 334px auto;
  grid-template-rows: 240px auto auto;
  gap: 25px;
}

.about__logo {
  display: inline-block;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background: #000;
  margin-left: 47px;
  grid-column: 1 / 2;
  margin-top: 20px;
}

.about__logo-image {
  display: block;
  width: 148px;
  height: 114px;
  margin-top: 64px;
  margin-left: 46px;
}

.about__title {
  grid-column: 2 / 3;
  margin-top: 120px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  width: 688px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  grid-column: 2 / 3;
}

.footer {
  max-width: 1100px;
  display: grid;
  grid-template-columns: 264px 164px 240px;
  justify-content: center;
  column-gap: 165px;
  margin-top: 180px;
  margin-bottom: 82px;
}

.footer__address {
  grid-column: 1 / 2;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin-top: 2px;
  line-height: 24px;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  grid-column: 2 / 3;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin-right: 15px;
  margin-top: 3px;
}

.menu-link_active {
  text-decoration: none;
}

.footer__social-icon {
  grid-column: 3 / 4;
}

.footer__social-list {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  gap: 48px;
}

.footer__menu-link {
  width: 48px;
  height: 48px;
}