@font-face {
  font-family: 'Raleway-Bold', 'Raleway-Regular';
  src: url(fonts/Raleway-Bold.woff);
  src: url(fonts/Raleway-Regular.woff);
  src: url(fonts/Raleway-Bold.woff2);
  src: url(fonts/Raleway-Regular.woff2);
  font-display: swap;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  width: 1100px;
  height: 293px;
  padding: 92px 50px 100px 50px;
  font-family: 'Raleway', sans-serif;
  color: #000;
  font-weight: 400;
  font-size: 18px;
}

.header__menu {
  display: flex;
  justify-content: flex-start;
  padding: 0; 
  margin: 0;
  column-gap: 33px;
  list-style-type: circle;
}

.header__logo {
  display: block;
  width: 148px;
  height: 105px;
}

.header__address {
  margin: 0;
  padding: 0;
  max-width: 240px;
  justify-self: end;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 24px;
}

.address {
  max-width: 264px;
  justify-self: start;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.cover {
  position: relative;
  width: 1100px;
  height: 757px;
  background-image: url(../images/cover.jpg); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
  min-height: 757px;
}

.overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 60%;
  z-index: 1;
}

.text__aligned {
  display: block;
  width: 100%;
  font-family: 'Raleway', sans-serif;
  color: #fff;
  font-size: 100px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  z-index: 2;
}

.left__text {
  display: block;
  text-align: left; 
}

.center__text {
  display: block;
  text-align: center;
  margin-top: 18px;
  margin-left: 30px;
}

.right__text {
  display: block;
  text-align: right;
  margin-top: 16px;
  margin-left: 615px;
}

.text__justify {
  display: block;
  text-align: justify;
  margin-left: 50px;
  margin-top: 165px;
  margin-right: 50px;
  margin-bottom: 207px;
  letter-spacing: 30px;    
}

.description {
  display: flex;
  position: relative;
  justify-content: space-around;
  font-family: 'Raleway', sans-serif;
  color: #fff;
  text-transform: uppercase;
  font-size: 22px;
  z-index: 3;
}

.text {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 19px;
  margin-top: 668px;
}

.button {
  width: 256px;
  height: 51px;
  font-weight: 500;
  background-color: transparent;
  color: #fff;
  border: 1px solid white;
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  margin-top: 656px;
}

.main {
  width: 1100px;
  height: 1618px;
}

.lots {
  width: 1052px;
  height: 723px;
  margin-top: 180px;
  margin-left: 24px;
}

.lots__heading {
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 27px;
  margin-left: 40px;
}

.card__list {
  list-style-type: none;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 25px;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.card {
  height: 100%;
  width: 100%; 
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);  
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg); 
}

.card__title {
  position: absolute;
  z-index: 3;
  font-family: 'Raleway', sans-serif;
  color: #fff;
  font-weight: 700;
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: underline;
  text-align: left;
  margin: 48px 40px;
}

.card__text {
  position: absolute;
  z-index: 3;
  font-family: 'Raleway', sans-serif;
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  left: 40px;
  right: 40px;
  bottom: 48px; 
}

.lots__look-more-link {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 20px;
  margin-top: 30px;
  margin-left: 40px;
}

.about {
  width: 1052px;
  height: 595px;
  margin-top: 135px;
  margin-left: 22px;
}

.about__column {
  display: grid;
  grid-template-columns: 334px auto;
  grid-template-rows: 240px 120px 100px;
  gap: 25px;
}

.about__logo {
  display: inline-block;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background: #000;
  margin-left: 47px;
  grid-column: 1 / 2;
  margin-top: 20px;
}

.about__logo-image {
  display: block;
  width: 148px;
  height: 114px;
  margin-top: 64px;
  margin-left: 46px;
}

.about__title {
  grid-column: 2 / 3;
  margin-top: 120px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  width: 688px;
  height: 312px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  grid-column: 2 / 3;
}

.footer {
  max-width: 1100px;
  height: 180px;
  display: grid;
  grid-template-columns: 264px 164px 240px;
  justify-content: center;
  column-gap: 165px;
}

.grid__address {
  grid-column: 1 / 2;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin-top: 2px;
  line-height: 24px;
}

.footer__menu-list {
  list-style-type: none;
  align-items: center;
  justify-items: center;
  grid-column: 2 / 3;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin-right: 15px;
}

.footer__social-icon {
  display: flex;
  width: 48px;
  height: 48px;
  flex-direction: row;
  gap: 48px;
  grid-column: 3 / 4;
}

.footer__menu-link {
  text-decoration: underline;
  text-underline-offset: 3px;
}
